.color1 {
  color: #01ff00;
}
.color2 {
  color: #02fe00;
}
.color3 {
  color: #03fd00;
}
.color4 {
  color: #04fc00;
}
.color5 {
  color: #05fb00;
}
.color6 {
  color: #06fa00;
}
.color7 {
  color: #07f900;
}
.color8 {
  color: #08f800;
}
.color9 {
  color: #09f700;
}
.color10 {
  color: #0af600;
}
.color11 {
  color: #0bf500;
}
.color12 {
  color: #0cf400;
}
.color13 {
  color: #0df300;
}
.color14 {
  color: #0ef200;
}
.color15 {
  color: #0ff100;
}
.color16 {
  color: #10f000;
}
.color17 {
  color: #11ef00;
}
.color18 {
  color: #12ee00;
}
.color19 {
  color: #13ed00;
}
.color20 {
  color: #14ec00;
}
.color21 {
  color: #15eb00;
}
.color22 {
  color: #16ea00;
}
.color23 {
  color: #17e900;
}
.color24 {
  color: #18e800;
}
.color25 {
  color: #19e700;
}
.color26 {
  color: #1ae600;
}
.color27 {
  color: #1be500;
}
.color28 {
  color: #1ce400;
}
.color29 {
  color: #1de300;
}
.color30 {
  color: #1ee200;
}
.color31 {
  color: #1fe100;
}
.color32 {
  color: #20e000;
}
.color33 {
  color: #21df00;
}
.color34 {
  color: #22de00;
}
.color35 {
  color: #23dd00;
}
.color36 {
  color: #24dc00;
}
.color37 {
  color: #25db00;
}
.color38 {
  color: #26da00;
}
.color39 {
  color: #27d900;
}
.color40 {
  color: #28d800;
}
.color41 {
  color: #29d700;
}
.color42 {
  color: #2ad600;
}
.color43 {
  color: #2bd500;
}
.color44 {
  color: #2cd400;
}
.color45 {
  color: #2dd300;
}
.color46 {
  color: #2ed200;
}
.color47 {
  color: #2fd100;
}
.color48 {
  color: #30d000;
}
.color49 {
  color: #31cf00;
}
.color50 {
  color: #32ce00;
}
.color51 {
  color: #33cd00;
}
.color52 {
  color: #34cc00;
}
.color53 {
  color: #35cb00;
}
.color54 {
  color: #36ca00;
}
.color55 {
  color: #37c900;
}
.color56 {
  color: #38c800;
}
.color57 {
  color: #39c700;
}
.color58 {
  color: #3ac600;
}
.color59 {
  color: #3bc500;
}
.color60 {
  color: #3cc400;
}
.color61 {
  color: #3dc300;
}
.color62 {
  color: #3ec200;
}
.color63 {
  color: #3fc100;
}
.color64 {
  color: #40c000;
}
.color65 {
  color: #41bf00;
}
.color66 {
  color: #42be00;
}
.color67 {
  color: #43bd00;
}
.color68 {
  color: #44bc00;
}
.color69 {
  color: #45bb00;
}
.color70 {
  color: #46ba00;
}
.color71 {
  color: #47b900;
}
.color72 {
  color: #48b800;
}
.color73 {
  color: #49b700;
}
.color74 {
  color: #4ab600;
}
.color75 {
  color: #4bb500;
}
.color76 {
  color: #4cb400;
}
.color77 {
  color: #4db300;
}
.color78 {
  color: #4eb200;
}
.color79 {
  color: #4fb100;
}
.color80 {
  color: #50b000;
}
.color81 {
  color: #51af00;
}
.color82 {
  color: #52ae00;
}
.color83 {
  color: #53ad00;
}
.color84 {
  color: #54ac00;
}
.color85 {
  color: #55ab00;
}
.color86 {
  color: #56aa00;
}
.color87 {
  color: #57a900;
}
.color88 {
  color: #58a800;
}
.color89 {
  color: #59a700;
}
.color90 {
  color: #5aa600;
}
.color91 {
  color: #5ba500;
}
.color92 {
  color: #5ca400;
}
.color93 {
  color: #5da300;
}
.color94 {
  color: #5ea200;
}
.color95 {
  color: #5fa100;
}
.color96 {
  color: #60a000;
}
.color97 {
  color: #619f00;
}
.color98 {
  color: #629e00;
}
.color99 {
  color: #639d00;
}
.color100 {
  color: #649c00;
}
