#red-blue span:nth-child(odd) {
    color: red;
}

#red-blue span:nth-child(even) {
    color: blue;
}

#sans {
    font-family: "Comic Sans MS", "Comic Sans", cursive, sans-serif;
    font-size: 1.25em;
}

#oblique {
    font-style: oblique;
}

table, td {
    background-color: cyan;
    border: 1px solid black;
    border-collapse: collapse;
    width: 25%;
}

th, td {
    padding: 5px;
    text-align: left;
}
