#red-blue span:nth-child(odd) {
    color: red;
}

#red-blue span:nth-child(even) {
    color: blue;
}

#sans {
    font-family: "Comic Sans MS", "Comic Sans", cursive, sans-serif;
    font-size: 1.25em;
}

#oblique {
    font-style: oblique;
}

#times {
    font-family: "Times New Roman";
    font-size: 1.93em;
}


table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 500px;           /* fixed width instead of 25% */
    background-color: cyan;
}

th, td {
    border: 1px solid black;
    padding: 5px;
    text-align: left;
    white-space: nowrap;    /* prevents wrapping when zooming */
}

/*table, td {
    background-color: cyan;
    border: 1px solid black;
    border-collapse: collapse;
    width: 25%;
}

th, td {
    padding: 5px;
    text-align: left;
}*/
